.heading{
    display: flex;
    justify-content: center;
    border: 2px solid;
    background-color: black;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color: white;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Yellow{
    border: 2px solid white;
    padding: 100px;
    background-color: yellow;
}
#blue{
    border: 2px solid white;
    padding: 100px;
    background-color: blue;
}
#red{
    border: 2px solid white;
    padding: 100px;
    background-color: red;
}
#grey{
    border: 2px solid white;
    padding: 100px;
    background-color: grey;
}
.reset{
    margin-top: 20px;
    display: flex;
    justify-content: center;

}
.reset p{
    padding: 20px;
    width: 200px;
    color: black;
    background-color: white;
    border: 2px solid;
    border-radius: 20px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}